fastapi == 0.95.1
uvicorn == 0.21.1
virtualenv == 20.16.5
python-multipart
pydantic==1.10.7
sqlmodel~=0.0.6
alembic==1.10.4
psycopg2-binary
future>=0.16
python-dateutil>=2.2
requests>=2.20
ruff==0.0.263
pre-commit==3.2.2
PyJWT~=2.4.0
passlib[bcrypt]~=1.7.4
email-validator
sqlalchemy==1.4.17
pytz>=2020.1
python-dotenv
